<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FastDialSiriExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FastDialSiriExtensionUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>fastdial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>257082F41940D19B006A1E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>257083061940D19B006A1E8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25856E831E73251F004C5E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25856E8C1E73251F004C5E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25856EA91E7355A1004C5E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
